# .gitignore

### backend
/backend/target/
/backend/pom.xml.tag
/backend/pom.xml.bak
/backend/pom.xml.versionsBackup
/backend/release.properties
/backend/dependency-reduced-pom.xml
/backend/build/
/backend/src/main/resources/application.properties

### frontend
/frontend/dist/
/frontend/node_modules/
/frontend/npm-debug.log*
/frontend/.angular/cache/

backend/src/main/resources/application.properties
frontend/src/app/app.routes.ts
